
    <div class="row">
        <div class="col-12">
            <div class="card card-default color-palette-box">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-tag"></i>
                        {{ "LeaderBoard"|trans }}
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <table class="table">
                                <tr>
                                    <th>Place</th>
                                    <th>Joueur</th>
                                    <th>Meilleur Score</th>
                                    <th>Nombre de run</th>
                                </tr>
                                {% for run in runs %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ run.user.username }}</td>
                                        <td>{{ run.computedScore|round(0) }}</td>
                                        <td>{{ run.user.countRun(challenge) }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <script>
      setTimeout(function(){location.reload();}, 5000)

  </script>

{# <a href="{{ path('challenge_new') }}">{{ "Create new"|trans }}</a> #}

