{% extends 'base_backoffice.html.twig' %}

{% block title %}{{ "Users"|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-default color-palette-box">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-tag"></i>
                        {{ "Arbitrage"|trans }}
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            {% if twitches|length > 0 %}
                            <h3>Twitch</h3>
                            <ul class="twitcher">
                                {% for participation in twitches %}
                                    {% set challenger = participation.user %}
                                    {% if challenger.twitchId is not empty %}
                                        <li>
                                            <a
                                                    href="#"
                                                    data-participation="{{ participation.id }}"
                                                    data-challenger="{{ challenger.id }}"
                                                    data-url="https://player.twitch.tv/?channel={{ challenger.twitchID }}&parent={{ app.request.server.get('HTTP_HOST')|replace({":8000":'',":80":''}) }}&muted=true"
                                            >
                                                {{ challenger.twitchID }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% endif %}

                            {% if discordes|length > 0 %}
                            <h3>Discord</h3>
                            <ul class="discorder">
                                {% for participation in discordes %}
                                    {% set challenger = participation.user %}

                                    {% if challenger.twitchId is empty %}
                                        <li>{{ challenger.discordId }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>

                        <div class="col-md-4">
                            <iframe
                                    id="twitch_player"
                                    src="https://player.twitch.tv/?channel=pompevie74&parent={{ app.request.server.get('HTTP_HOST')|replace({":8000":'',":80":''}) }}&muted=true"
                                    width="600"
                                    height="300"
                                    frameborder="0"
                                    scrolling="no"
                                    allowfullscreen="true">
                            </iframe>
                        </div>
                        <div id="runScore" class="col-md-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}
{# <a href="{{ path('challenge_new') }}">{{ "Create new"|trans }}</a> #}

