{% extends 'base_backoffice.html.twig' %}

{% block title %}{{ "Users"|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-default color-palette-box">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-tag"></i>
                        {{ "Arbitrage"|trans }}
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <h3>Mes challengers Twitch</h3>
                            <ul class="twitcher">
                                {% for participation in participations %}
                                    {% set challenger = participation.user %}
                                    {% if challenger.twitchId is not empty %}
                                        <li>{{ challenger.twitchID }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <h3>Mes challengers Discord</h3>
                            <ul class="twitcher">
                                {% for participation in participations %}
                                    {% set challenger = participation.user %}

                                    {% if challenger.twitchId is empty %}
                                        <li>{{ challenger.discordId }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="twitch-embed"></div>
                    </div>
                    <div class="col-md-2">

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <script>
        $(function () {
            let firstTwitch = $(".twitcher").find("li:first").text();
            var embed = new Twitch.Embed('twitch-embed', {
                channel: firstTwitch
            });
        });
    </script>
{% endblock %}
{# <a href="{{ path('challenge_new') }}">{{ "Create new"|trans }}</a> #}

