{% extends 'base_backoffice.html.twig' %}

{% block title %}{{ "Users"|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-default color-palette-box">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-tag"></i>
                        {{ "Arbitrage"|trans }}
                    </h3>
                </div>
                <div class="card-body">

                   <h3>Mes challengers</h3>
                    <ul>
                        {% for participation in participations %}
                        {% set challenger = participation.user %}
                       <li>{{ challenger.twitchID }}</li>

                        {% endfor %}
                   </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{#    <a href="{{ path('challenge_new') }}">{{ "Create new"|trans }}</a>#}

