{{ form_start(form) }}
<h3>{{ challenger.twitchID is not empty ?  challenger.twitchID :  challenger.discordID }}
    <small>{{ run.lastVisitedAt == null ? run.startDate.format('d/m/Y H:i'): run.lastVisitedAt.format('d/m/Y H:i') }}</small></h3>
<p>Malus de run : <span id="malus-run" data-malus="{{ run.malus }}">{{ ((run.malus-1)*100) }}</span>%, Run n° {{ challenger.countRun(run.challenge) }}</p>
<table class="table table-sm">
    <tr>
        <th>Libellé</th>
        <th>Valeur</th>
        <th>Multiplicateur</th>
        <th>Total</th>
    </tr>
{% for setting in form.runSettings %}
    <tr>
        <td style="font-size: 12px">{{ setting.vars.data.challengeSetting.label }}</td>
        <td>{{ form_widget(setting) }}</td>
        <td class="ratio">{{ setting.vars.data.challengeSetting.ratio }}</td>
        <td class="total-line">0</td>
    </tr>

{% endfor %}
    <tr>
        <td style="font-size: 12px" class="text-bold text-right" colspan="3">Total</td>
        <td class="total-run">0</td>
    </tr>
    <tr>
        <td style="font-size: 12px" class="text-bold text-right" colspan="3">Total malus compris</td>
        <td class="total-run-with-malus">0</td>
    </tr>
</table>
{{ form_end(form) }}

<style>
    .form-group{
        margin-bottom:0;
    }
    .form-control-sm{
        height: 24px;
    }
</style>