{% extends 'base.html.twig' %}

{% block title %}Challenge index{% endblock %}

{% block body %}
    <h1>Challenge index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>DateStart</th>
                <th>DateEnd</th>
                <th>HourStart</th>
                <th>HourEnd</th>
                <th>Description</th>
                <th>Type</th>
                <th>Banner</th>
                <th>MaxChallenger</th>
                <th>RegistrationOpening</th>
                <th>RegistrationClosing</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for challenge in challenges %}
            <tr>
                <td>{{ challenge.id }}</td>
                <td>{{ challenge.title }}</td>
                <td>{{ challenge.dateStart ? challenge.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ challenge.dateEnd ? challenge.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ challenge.hourStart }}</td>
                <td>{{ challenge.hourEnd }}</td>
                <td>{{ challenge.description }}</td>
                <td>{{ challenge.type }}</td>
                <td>{{ challenge.banner }}</td>
                <td>{{ challenge.maxChallenger }}</td>
                <td>{{ challenge.registrationOpening ? challenge.registrationOpening|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ challenge.registrationClosing ? challenge.registrationClosing|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('challenge_show', {'id': challenge.id}) }}">show</a>
                    <a href="{{ path('challenge_edit', {'id': challenge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('challenge_new') }}">Create new</a>
{% endblock %}
