{% extends 'base_backoffice.html.twig' %}

{% block title %}{{ "Challenges"|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-default color-palette-box">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-tag"></i>
                        {{ "Challenges"|trans }}
                    </h3>
                </div>
                <div class="card-body">
                    {{ include('backend/challenge/_form.html.twig', {'button_label': 'Update'}) }}


                    <h2 id="participations">Participations</h2>
                    <table class="table">
                        <tr>
                            <th>Prénom nom (pseudo)</th>
                            <th>Date d'inscription</th>
                            <th>Arbitre</th>
                            <th>Etat</th>
                        </tr>
                        {% for participation in challenge.waitingParticipations %}
                            <tr>
                                <td>{{ participation.user.fullNameUsername }}</td>
                                <td>{{ participation.createdAt.format("d/m/Y H:i") }}</td>
                                <td>
                                    <a class="ajax-link"
                                       data-replace="self"
                                       data-toggle="tooltip"
                                       title="Changer d'état"
                                       href="{{ url('challenge_admin_toggle_participation',{id:participation.id}) }}">
                                        {{ participation.enabled ? "<i class='fas fa-check text-success'></i>" :  "<i class='fas fa-times text-danger'></i>" }}
                                    </a>
                                    <a class="ajax-link"
                                       data-remove="closestTr"
                                       data-toggle="tooltip"
                                       title="Refuser/supprimer"
                                       href="{{ url('challenge_admin_delete_participation',{id:participation.id}) }}">
                                        <i class='fas fa-trash text-danger'></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for participation in challenge.validatedParticipations %}
                            <tr>
                                <td>{{ participation.user.fullNameUsername }}</td>
                                <td>{{ participation.createdAt.format("d/m/Y H:i") }}</td>
                                <td>
                                    <select name="arbitre" class="arbitre form-control" data-change-url="{{ url('change_arbitre',{id:participation.id}) }}">
                                        <option value="">-- non défini --</option>
                                        {% for arbitre in  arbitres %}
                                            <option {% if participation.arbitre is not null and arbitre.id == participation.arbitre.id %}selected="selected"{% endif %} value="{{  arbitre.id }}">{{ arbitre.username }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <a class="ajax-link"
                                       data-replace="self"
                                       data-toggle="tooltip"
                                       title="Changer d'état"
                                       href="{{ url('challenge_admin_toggle_participation',{id:participation.id}) }}">
                                        {{ participation.enabled ? "<i class='fas fa-check text-success'></i>" :  "<i class='fas fa-times text-danger'></i>" }}
                                    </a>
                                    <a class="ajax-link"
                                       data-remove="closestTr"
                                       data-toggle="tooltip"
                                       title="Refuser/supprimer"
                                       href="{{ url('challenge_admin_delete_participation',{id:participation.id}) }}">
                                        <i class='fas fa-trash text-danger'></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    {{ encore_entry_script_tags('bo_challenge') }}

{% endblock %}
