{% extends 'base_backoffice.html.twig' %}

{% block title %}{{ "Challenges"|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-default color-palette-box">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-tag"></i>
                        {{ "Challenges"|trans }}
                    </h3>
                </div>
                <div class="card-body">



    <a href="{{ path('challenge_new') }}">{{ "Create new"|trans }}</a>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{{ "challenge.label.title"|trans }}</th>
                <th>{{ "challenge.label.dateStart"|trans }}</th>
                <th>{{ "challenge.label.dateEnd"|trans }}</th>
                <th>{{ "challenge.label.type"|trans }}</th>
                <th>{{ "challenge.label.challengers"|trans }}</th>
                <th>{{ "challenge.label.actions"|trans }}</th>
            </tr>
        </thead>

        <tbody>
        {% for challenge in paginator.entities %}
            <tr>
                <td>{{ challenge.title }}</td>
                <td>{{ challenge.dateStart ? challenge.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ challenge.dateEnd ? challenge.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ challenge.type }}</td>
                <td>{{ challenge.participations|length }} / {{ challenge.maxChallenger }}</td>
                <td>
                    <a href="{{ path('challenge_show', {'id': challenge.id}) }}">show</a>
                    <a href="{{ path('challenge_edit', {'id': challenge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">{{ "no records found"|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% import "@Pagination/Pagination/macro.twig" as macro_pagination  %}
    {{ macro_pagination.seeMore(paginator,"Voir plus"|trans) }}
    </div>
    </div>
    </div>
    </div>

{% endblock %}
