{% extends 'base.html.twig' %}

{% block title %}Challenge index{% endblock %}

{% block body %}
    <h1>{{ "Challenges"|trans }}</h1>
    <a href="{{ path('challenge_new') }}">{{ "Create new"|trans }}</a>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{{ "challenge.label.title"|trans }}</th>
                <th>{{ "challenge.label.dateStart"|trans }}</th>
                <th>{{ "challenge.label.dateEnd"|trans }}</th>
                <th>{{ "challenge.label.type"|trans }}</th>
                <th>{{ "challenge.label.challengers"|trans }}</th>
                <th>{{ "challenge.label.actions"|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for challenge in challenges %}
            <tr>
                <td>{{ challenge.title }}</td>
                <td>{{ challenge.dateStart ? challenge.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ challenge.dateEnd ? challenge.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ challenge.type }}</td>
                <td>{{ challenge.participations|length }} / {{ challenge.maxChallenger }}</td>
                <td>
                    <a href="{{ path('challenge_show', {'id': challenge.id}) }}">show</a>
                    <a href="{{ path('challenge_edit', {'id': challenge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">{{ "no records found"|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
