{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    <main class="wrapper">
        <section class="section-banner bg1 home-title">
            <h1>Bienvenue au bannerlord hardcore challenge</h1>
        </section>

        <section class="section-parallax static home-presentation">
            <div class="container">
                {{ render(controller("\\App\\Controller\\Component\\CmsBlockController::getCmsBlock",{slug:'homepage-1',default:"A personnaliser"})) }}
            </div>
        </section>

        <section class="section">
            <div class="parallax-background bg2 home-join-us">
                <div class="container">
                    {{ render(controller("\\App\\Controller\\Component\\CmsBlockController::getCmsBlock",{slug:'homepage-2',default:"A personnaliser"})) }}
                </div>
            </div>
        </section>

        <section class="section-parallax static home-howto-join-us">
            <div class="container">
                {{ render(controller("\\App\\Controller\\Component\\CmsBlockController::getCmsBlock",{slug:'homepage-3',default:"A personnaliser"})) }}

            </div>
        </section>
        
        <section class="section parallax-background bg3 home-don">
            <div class="container">
                {{ render(controller("\\App\\Controller\\Component\\CmsBlockController::getCmsBlock",{slug:'homepage-4',default:"A personnaliser"})) }}

            </div>
        </section>
        
        <section class="section">
            <div class="parallax-background bg2 home-join-us" style="background-position: 50% -154.4px;">
                <div class="container">
                    <div class="cms-block">
                        <p class="text" style="text-align: center;" data-children-count="0">Tous les participants doivent diffuser leur partie en direct sur Twitch ou Discord.</p>
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="col-12 col-md-8">
                                <p class="text bold" style="text-align: center; " data-children-count="0">Qui dit compétition dit classement !</p>
                                <p class="text" style="" data-children-count="0">
                                En fonction du format, le classement sera déterminé de manière différente :<br>
                                - Format classique : Meilleur score obtenu par un challenger complété par les bonus ou malus
                                obtenus en multijoueur<br>
                                - Format RP : les 3 premiers challengers a remplir tous les objectifs composent le podium<br><br>
                                Voici le détail des dotations :<br>
                                1ère place : 60 euros<br>
                                2ème place : 30 euros<br>
                                3ème place : 10 euros<br>
                                </p>
                            </div>
                        
                            <div class="col-12 col-md-4 text-center">
                                <img class="logo" src="{{ asset('build/podium.png') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock %}