{% extends 'base.html.twig' %}

{% block title %}Rule index{% endblock %}

{% block body %}
    <h1>Rule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>IsDefault</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rule in rules %}
            <tr>
                <td>{{ rule.id }}</td>
                <td>{{ rule.label }}</td>
                <td>{{ rule.isDefault ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('rule_show', {'id': rule.id}) }}">show</a>
                    <a href="{{ path('rule_edit', {'id': rule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rule_new') }}">Create new</a>
{% endblock %}
